In [1]:
# include pandas module
import pandas as pd
# read csv file
df = pd.read_csv("weather.csv")

In [2]:
# print dataframe
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [3]:
# Create Dictionary
weather = {
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,32,32],
    'windspeed':[6,7,2,7,4,2],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}

In [9]:
# Create New Dataframe
df1 = pd.DataFrame(weather)

In [10]:
# Print dataframe
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [11]:
# find shape of dataframe
df.shape

(6, 4)

In [12]:
# Print first few record
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [13]:
# Print firat or last few record
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           32          2  Sunny

In [14]:
# Slicing
df[-1::-2]

        day  temperature  windspeed  event
5  1/6/2017           32          2  Sunny
3  1/4/2017           24          7   Snow
1  1/2/2017           35          7  Sunny

In [15]:
# Print columns name
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [16]:
# Print idividual column with data
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [17]:
# Print datatype of day column
type(df['day'])

pandas.core.series.Series

In [18]:
# print multiple column
df[['day','event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [19]:
# Ptint data type
df.event.dtype

dtype('O')

In [20]:
# Aggregate Operation on dataframe
df.temperature.max()

np.int64(35)

In [21]:
df.temperature.min()

np.int64(24)

In [22]:
df.temperature.mean()

np.float64(30.5)

In [23]:
df.temperature.std()

np.float64(3.8858718455450894)

In [24]:
# Which Day Rain occured
df['day'][df['event']=='Rain']

0    1/1/2017
4    1/5/2017
Name: day, dtype: object

In [25]:
# Find all statstics
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [26]:
# find windspeed > 6
df[df.windspeed>6]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
3  1/4/2017           24          7   Snow

In [27]:
# Set index as windpeed instead of default index
df.set_index(df.windspeed,inplace=True)

In [28]:
df

                day  temperature  windspeed  event
windspeed
6          1/1/2017           32          6   Rain
7          1/2/2017           35          7  Sunny
2          1/3/2017           28          2   Snow
7          1/4/2017           24          7   Snow
4          1/5/2017           32          4   Rain
2          1/6/2017           32          2  Sunny

In [29]:
# fetch record by winspeeed value
df.loc[2]

                day  temperature  windspeed  event
windspeed
2          1/3/2017           28          2   Snow
2          1/6/2017           32          2  Sunny

In [30]:
# Reset index
df.reset_index(drop=True,inplace=True)

In [31]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [32]:
# dataframe information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      object
 1   temperature  6 non-null      int64
 2   windspeed    6 non-null      int64
 3   event        6 non-null      object
dtypes: int64(2), object(2)
memory usage: 324.0+ bytes